@media (min-width: 32rem) {
  main {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto 1fr;
  }

  .card1{
    grid-column: 1 / 5;
    grid-row: 2;
  }

  .card2{
    grid-column: 5 / 8;
    grid-row: 2;
  }
 
  .menu-button{
    display: none;
  }

  
  .nav{
    position: static;
    width: auto;
    height: auto;
    padding-top: 0;
    transition: none;
    background: transparent;
    left: auto;
  }

  .nav ul{
    flex-direction: row;       
    gap: 0.5rem;
    align-items: center;
  }

  .nav a{
    background: rgba(0,0,0,0.25);
    border-radius: 8px;
  }

  .nav a:hover{
    background: rgba(255,255,255,0.15);
  }

  
  .site-header{
    justify-content: space-between;
  }

}
