@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* { box-sizing: border-box; }

:root {
    
    --accent1-color: #E9DAC8;
    --accent2-color: rgb(84, 84, 19);

    --heading-font: Playfair Display, serif;
    --paragraph-font: Playfair Display, serif;

  
    --nav-link-color: #ffffff;
    --nav-background-color: #000000;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #032136;
}

body {
  height: 100vh;
  margin: 0;
}


header {
    display: flex;
    align-items: center;
    background-color: var(--accent1-color);
    flex-direction: column;
    
}

header #course-title {
    display: block;
    font-size: 25px;
    padding: 2rem;
}


.nav-bar{
  justify-content: center;
  display: flex;
  width: 100%;
  
  background: var(--nav-background-color);
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-bar ul li {
    flex: 1 1 auto;

}

.nav-bar a {
    color: var(--nav-link-color);
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
	  background-color: var(--nav-background-color);
	
}


.nav-bar a:hover {
    color: var(--nav-hover-link-color);
    border: 1px solid #ffffff;
    border-radius: 2px;
}


main {
  display:grid;
  width: 100%;
  margin: 0;
  padding: 2rem;
  background: rgb(253, 253, 252);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  1fr ;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  align-items: start;
}

main h1{
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
} 

.card1{
    grid-column: 2 / 5;
    grid-row: 2;
    margin: 0;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    
}

.card1 p{
    flex: 1;
}

.card1 h2, .card2 h2{
  margin: 0;
  padding: 0.75rem 1rem;
  text-align: center;
  background: var(--accent1-color);
  color: #000000;
  border-radius: 0;
  font-size: 1.1rem;
  font-weight: 600;
}


.card2{
    grid-column: 5 / 7;
    grid-row: 2;
    margin: 0;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    
    
}
.card2 a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;


}

.card1, .card2 { 
  min-width: 0; 
}

.about-me{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    padding: 2rem;
}

.about-me p{
  margin: 0;
  flex: 1;
  line-height: 1.6;
}

.selfie{
  width: 160px;
  height: auto;
  border: 1px solid #ccc;
} 



.state{
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  padding: 0 1rem 1rem;
  align-items: start;
}

.flag{
  width: 140px;
  height: auto;
  border: 1px solid #ccc;
  
}

.state p{
  margin: 0;
  line-height: 1.6;
  flex: 1;

}

footer {
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
    display: flex;
    flex-direction: column;
    padding: 1em;
}

footer p {
    text-align: center;
} 








   































