:root {
    
    --accent1-color: #E9DAC8;
    --accent2-color: rgb(123, 123, 24);
  
    --nav-link-color: #ffffff;
    --nav-background-color: #251605;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #032136;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template: auto auto auto auto;
  grid-template-columns: 300px 1fr 200px;
}

h1, h2, p {
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: var(--accent1-color);
    grid-column: 1 / -1;
    grid-row: 1;
}

.header{
  padding: 1rem;
  background: #f2f2f2;
}

.nav-bar{
  list-style: none;
  display: flex;
  align-items: center;
  background: #333;
  grid-column: 1 / -1;
  grid-row: 2;
}

.nav-bar a {
    color: var(--nav-link-color);
    text-transform: uppercase;
    padding: 1rem;
	background-color: #333;
	
}

.nav-bar a:hover {
    color: var(--nav-hover-link-color);
}


main {
  background: rgb(182, 182, 181);
  grid-column: 1 / 3;
  grid-row: 3;
}

.right-sidebar {
  background: rgb(70, 98, 89);
  grid-column: 3;
  grid-row: 3;
}

footer {
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 0.875rem;
    grid-column: 1 / -1;
    grid-row: 4;
}
